{% extends 'blog/base.html' %}

{% block content %}
<section class="min-vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Login</h3>
                <p class="text-muted">contact site admin to create user</p>
                {% if form.errors %}
                <p>Your password and username didn't match please try again</p>
                {% endif %}
                
                <div>
                    <form action="{% url 'login' %}" method="POST">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <input type="submit" class="btn btn-primary btn-lg btn-block" value="Login">
                      <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>
        
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}